# Editor directories and files
.idea
.vscode
.editorconfig

# Git files
.git
.gitignore
.github
.gitattributes

# Build files
packages/frontend/dist
packages/backend/dist

# Dependencies
packages/frontend/node_modules
packages/backend/node_modules

# local .env files
.env
.env.local*
