# Editor directories and files
.idea
.vscode
.editorconfig

# Git files
.git
.gitignore
.github
.gitattributes

# Build files
frontend/dist
backend/dist

# Dependencies
frontend/node_modules
backend/node_modules

# local .env files
.env
.env.local*
