#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
PLACEMENT_CONSTRAINT_CACHE=node.hostname==<hostname>
PLACEMENT_CONSTRAINT_TASKS=node.platform.os==linux
PLACEMENT_CONSTRAINT_API=node.role==worker
PLACEMENT_CONSTRAINT_WEB=node.platform.os==linux
#@ Replication
#-    Configure the replication of the services
REPLICAS_API=2
REPLICAS_WEB=2
REPLICAS_WEB_SSR=1
#@ Resource Limits
#-  - Container Memory Limits -
API_MEMLIMIT=150M
#@ Traefik Config
TRAEFIK_ROUTE_RULE_API=Host(`deckverified.games`) && PathPrefix(`/deck-verified/api`)
TRAEFIK_ROUTE_RULE_WEB=Host(`deckverified.games`)
#@ Container Config
#-  - ENVIRONMENT_NAME -
ENVIRONMENT_NAME
#-  - SENTRY_DSN -
SENTRY_DSN
#-  - SENTRY_ENVIRONMENT -
SENTRY_ENVIRONMENT
#-  - SENTRY_TRACES_SAMPLE_RATE_TASKS -
SENTRY_TRACES_SAMPLE_RATE_TASKS
#-  - SENTRY_PROFILES_SAMPLE_RATE_API -
SENTRY_PROFILES_SAMPLE_RATE_API
#-  - SENTRY_TRACES_SAMPLE_RATE_API -
SENTRY_TRACES_SAMPLE_RATE_API
#-  - SENTRY_PROFILES_SAMPLE_RATE_API -
SENTRY_PROFILES_SAMPLE_RATE_API
#-  - REDIS_PASSWORD -
REDIS_PASSWORD=password
#-  - GITHUB_WORKFLOW_SECRET -
#-    An optional secret used to validate GitHub workflow webhook requests. If not set, workflow updates will be disabled.
GITHUB_WORKFLOW_SECRET=XXXXXXXXXXX
#-  - API_GH_TOKEN -
#-    A GitHub token for read access for the api service to the DeckSettings GitHub org/repo API
API_GH_TOKEN=XXXXXXXXXXX
#-  - TASKS_GH_TOKEN -
#-    A GitHub token for read access for the tasks service to the DeckSettings GitHub org/repo API
TASKS_GH_TOKEN=XXXXXXXXXXX
#-  - DEFAULT_CACHE_TIME -
#-    The default time to cache game information. This mostly is used to avoid GitHub rate limiting.
DEFAULT_CACHE_TIME=21600
#-  - REVERSE_PROXY_COUNT -
#-    A count of reverse proxy's that the service is behind
REVERSE_PROXY_COUNT=0
#-  - DISABLE_RATE_LIMITER -
#-    Disable the rate limiter. Should normally be false for production.
DISABLE_RATE_LIMITER=true
#-  - RUN_SCHEDULED_TASKS_ON_START -
#-    Run the scheduled tasks on container start. Should normally be false for production.
RUN_SCHEDULED_TASKS_ON_START=true
