#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
PLACEMENT_CONSTRAINT_CACHE=node.hostname==<hostname>
PLACEMENT_CONSTRAINT_TASKS=node.platform.os==linux
PLACEMENT_CONSTRAINT_API=node.role==worker
PLACEMENT_CONSTRAINT_WEB=node.platform.os==linux
#@ Replication
#-    Configure the replication of the services
REPLICAS_API=2
REPLICAS_WEB=2
#@ Traefik Config
TRAEFIK_ROUTE_RULE_API=Host(`deckverified.games`) && PathPrefix(`/deck-verified/api`)
TRAEFIK_ROUTE_RULE_WEB=Host(`deckverified.games`)
#@ Container Config
#-  - REDIS_PASSWORD -
REDIS_PASSWORD=password
#-  - GH_TOKEN -
#-    A GH Token for read access to the repo API
GH_TOKEN=XXXXXXXXXXX
#-  - DEFAULT_CACHE_TIME -
#-    The default time to cache game information. This mostly is used to avoid GitHub rate limiting.
DEFAULT_CACHE_TIME=1200
#-  - REVERSE_PROXY_COUNT -
#-    A count of reverse proxy's that the service is behind
REVERSE_PROXY_COUNT=0
#-  - DISABLE_RATE_LIMITER -
#-    Disable the rate limiter. Should normally be false for production.
DISABLE_RATE_LIMITER=true
#-  - RUN_SCHEDULED_TASKS_ON_START -
#-    Run the scheduled tasks on container start. Should normally be false for production.
RUN_SCHEDULED_TASKS_ON_START=true
